@model IEnumerable<RentABikeWebApp.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
<h1>Reservation List</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary mb-3" asp-action="Create">Add New Reservation</a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Total Cost</th>
                            <th>Bike Type</th>
                            <th>Customer Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.StartDate.ToString("dd/MM/yyyy HH:mm")</td>
                                <td>@item.EndDate.ToString("dd/MM/yyyy HH:mm")</td>
                                <td>@item.TotalCost</td>
                                <td>@item.Bike.DisplayName()</td>
                                <td>@item.Customer.Name</td>
                                <td>
                                    <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-primary">Details</a>
                                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-secondary">Edit</a>
                                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>